.app-wrapper{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    'h h'
    'n c';
    width: 1200px;
    margin: 0 auto;
}
.header{
    grid-area: h;
    background-color: aqua;
}
.header img{
    width: 20px;
}
.nav{
    grid-area: n;  
    background-color: rgb(135, 219, 219); 
}
.content{
    grid-area: c;
    background-color: rgb(112, 112, 230);
}
